<%= render 'users/list', user: @user, book: @book %>


<td><%= link_to "Edit", edit_book_path(book) %></td>
<td><%= link_to "Destroy", book_path(book), method: :delete, data: {confirm: "削除しますか？"} %></td>